iframe#foxFrame {
  display: block;
  background: #000;
  border: none;
  height: 100vh;
  width: 100vw;
}

h1#infoEl {
  display: none;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}
